<html>
  <body>
    <div id='app'></div>
    <script>
      import { renderStudio, defineConfig } from 'sanity';
      import { structureTool } from 'sanity/structure';

      const config = defineConfig({
        name: 'netlify-astro-sanity',
        title: 'Netlify Astro Sanity',

        projectId: '7kitucke',
        dataset: 'production',
        basePath: '/admin',

        plugins: [structureTool()],

        schema: {
          types: [
            {
              type: 'document',
              name: 'post',
              title: 'Post',
              fields: [
                {
                  name: 'title',
                  title: 'Title',
                  type: 'string',
                },
                {
                  name: 'slug',
                  title: 'Slug',
                  type: 'slug',
                  options: {
                    source: 'title',
                    maxLength: 96,
                  },
                },
              ],
            },
          ],
        },
      });
      renderStudio(document.getElementById('app'), config);
    </script>
  </body>
</html>
